* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    border-radius: .3125rem;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Styles */

:root {
    /* Colors */
    --color-black: #1F1F1F;
    --color-light: #F3F3F3;
    --color-primary: #4391F0;
    --color-white: #FFF;
    --color-error: #E26868;

    /* Fonts */
    --text-xl: normal normal 400 normal clamp(3rem, 5vw, 4rem) normal, "Hedvig Letters Serif", serif;
    --text-lg: normal normal 400 normal clamp(1.5rem, 5vw, 2rem) normal, "Hedvig Letters Serif", serif;
    --text-md: normal normal 400 normal clamp(1.1875rem, 5vw, 1.5rem) normal, "Hedvig Letters Serif", serif;
    --text-sm: normal normal 500 normal clamp(1.0625rem, 5vw, 1.1875rem) normal, "Instrument Sans", sans-serif;

    /* Spaces */
    --space-1: .25rem;
    --space-2: .5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-12: 3rem;
    --space-16: 4rem;

    /* Layout */
    --max-width: 57.5rem;
    --max-width-xl: 88.75rem;
    --min-width: 18rem;
    --min-width-xs: 12.5rem;

    /* Border */
    --radius-sm: .3125rem;
}

/* Components */
h1,
.h1 {
    font: var(--text-xl);
}

h2,
.h2 {
    font: var(--text-lg);
}

h3,
.h3 {
    font: var(--text-md);
}

h4,
.h4 {
    font: var(--text-sm);
}

p,
.body,
label,
input,
select,
textarea {
    font: var(--text-xs);
}

label {
    display: none;
}

a,
.link,
ul {
    font: var(--text-xs);
    font-weight: 500;
}

.btn {
    padding: .625rem 2rem;
    border-radius: var(--space-12);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;


    &.btn--dark {
        background-color: var(--color-black);
        color: var(--color-light);
    }


    &.btn--dark:hover {
        background-color: var(--color-black);
        color: var(--color-light);
    }


    &.btn--light {
        background-color: var(--color-light);
        color: var(--color-black);
    }
    
    @media (max-width: 640px) {
        width: 100%;
    }
}
.muted {
    opacity: 50%;
}
input,
select {
    padding: 1rem 1.1875rem;
    border-radius: 5rem;
    border: none;
    background-color: var(--color-light);
    width: 100%;
}

select {
    border-right: 1.1875rem solid var(--color-light);
}

button[type="submit"] {
    background-color: var(--color-primary);
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    color: var(--color-white);
    border: none;
    padding: var(--space-4);
}

.section {
    padding: var(--space-16) var(--space-4);
}

.block {
    max-width: var(--max-width);
    margin: 0 auto;
}

.block--xl {
    max-width: var(--max-width-xl);
    margin: 0 auto;
}

/* Components*/

/* Header */

.header {
    padding: var(--space-8);
}

.header__block {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 5.75rem;
    border-radius: 0;
}

.header__nav {

    & ul {
        display: flex;
        gap: var(--space-8);
        list-style: none;
        align-items: center;
    }
}

/* Hero */

.hero {
    color: var(--color-light);
    padding: 0 .625rem;
}

.hero__background {
    background: linear-gradient(90deg, rgba(31, 31, 31, .2) 0%, rgba(31, 31, 31, .2) 100%), url("../media/Home-banner.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 50rem;
    border-radius: .3125rem;
    max-width: var(--max-width-xl);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-6);

    &.hero__background--about {
        background: linear-gradient(90deg, rgba(31, 31, 31, .4) 0%, rgba(31, 31, 31, .4) 100%),
            url('../media/About-banner.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 15.625rem;
        justify-content: center;
    }

    &.hero__background--services {
        background: linear-gradient(90deg, rgba(31, 31, 31, .2) 0%, rgba(31, 31, 31, .2) 100%),
            url('../media/Services-banner.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 15.625rem;
        justify-content: center;
    }

    &.hero__background--news {
        background: linear-gradient(90deg, rgba(31, 31, 31, .2) 0%, rgba(31, 31, 31, .2) 100%),
            url('../media/News-banner.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 15.625rem;
        justify-content: center;
    }

    &.hero__background--contact {
        background: linear-gradient(90deg, rgba(31, 31, 31, .2) 0%, rgba(31, 31, 31, .2) 100%),
            url('../media/Contact-banner.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 15.625rem;
        justify-content: center;
    }

}

.hero__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-4);

    &.hero__block--about {
        text-align: center;
        align-items: center;
        justify-content: center;

        & h1 {
            text-align: center;
            width: 100%;
        }
    }

    &.hero__block--services {
        text-align: center;
        align-items: center;
        justify-content: center;

        & h1 {
            text-align: center;
            width: 100%;
        }
    }

    &.hero__block--news {
        text-align: center;
        align-items: center;
        justify-content: center;

        & h1 {
            text-align: center;
            width: 100%;
        }
    }

        &.hero__block--contact {
        text-align: center;
        align-items: center;
        justify-content: center;

        & h1 {
            text-align: center;
            width: 100%;
        }
    }

     @media (max-width: 640px) {
        align-items: center;
    }
        
}

/* Hero */

/* CTA */

.cta__block {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-16);
}

.cta__image {
    flex: 1 1 var(--min-width);
}

.cta__content {
    flex: 1 1 var(--min-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--space-8);
}

.cta__heading {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

}

/* CTA */

/* Features */

.features__block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width-xs), 1fr));
}

.features__card {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    padding: var(--space-4);
}

.features__card-heading {
    display: flex;
    align-items: center;
    gap: var(--space-4);
}

/* Features */

/* Services */
.services__block {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    align-items: start;
}

.services__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
    gap: var(--space-4);
    padding: var(--space-4);
}

.services__list-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

/* Prices */
.prices__block {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4);
}

.prices__card {
    flex: 1 1 var(--min-width-xs);
    display: flex;
    flex-direction: column;
    padding: var(--space-8);
    gap: var(--space-12);
    background-color: var(--color-light);
    border-radius: var(--radius-sm);

    &.prices__card--dark {
        background-color: var(--color-black);
        color: var(--color-light);
    }
}

.prices__head {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.prices__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    & li {
        display: flex;
        gap: var(--space-4);
        align-items: center;

        & .ri-close-circle-line {
            color: var(--color-error);
        }
    }
}

/* Contact */

.contact__block {

    display: flex;
    flex-wrap: wrap;
    gap: var(--space-8);

}

.contact__map {
    flex: 3 1 var(--min-width);
    filter: grayscale(1);


    & iframe {
        height: 100%;
        width: 100%;
        border-radius: var(--radius-sm);
        filter: grayscale();
    }
}

.contact__content {
    flex: 1 1 var(--min-width);
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    align-self: center;
    padding: 3rem 0;


}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.contact__form-row {
    display: flex;
    gap: .25rem;
}


.contact__form-acceptance {
    display: flex;
    justify-content: start;
    align-items: center;

    gap: var(--space-4);

    & input {
        width: auto;
    }
}


/* latest post */

.latest-post__block {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.latest-post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.latest-post__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width-xs), 1fr));
    gap: var(--space-4);
    padding: var(--space-4) 0;
}

.latest-post__list-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

 /* Footer */
.footer {
    max-width: var(--max-width);
    margin: 0;
    padding: var(--space-1);
    color: #F3F3F3;
}
.footer__block {
    background-color: #000000;
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    padding: var(--space-6);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.footer_row {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: var();
}
.footer__logo {

}
.footer_social {
    display: flex;
    gap: var(--space-4)
}
.footer_legal {
    display: flex;
    gap: var(--space-4)
}

/* Footer */
/*
Unidades absolutas
- cm
- mm 
- 23px * 
- pt

Unidades relativas
- vw
- vh
- %
- fr
- em
- rem (root)
- ch (0)

*/

/* media querires */
@media (width > 640px) {
   .no-desktop {
    display: none;
   }
}

@media (width < 640px) {
   .no-mobile {
    display: none;
   }
}

/* 
    movíl: 320px - 640px
    tablet: 640px- 768px
    portatil: 768px - 1024px
    escritorio: > 1024px
*/