* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: sans-serif;
} 

img {
  max-width: 100%;
  border-radius: 10px;
}

.grid {
  padding: 2rem;
}

.grid__gallery {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  grid-auto-flow: dense;
}